<div local-class="container">
  <aside local-class="aside">
    <div local-class="aside-section">
      <div local-class="aside-item">
        {{#link-to 'team'}}
          {{svg-jar "ArrowLeft" height="32" width="32"}}
        {{/link-to}}
      </div>
    </div>

    <div local-class="aside-section">
      <div local-class="aside-item aside-item--active">{{svg-jar "AlignLeft" height="32" width="32"}}</div>
      <div local-class="aside-item aside-item--disabled">{{svg-jar "Activity" height="32" width="32"}}</div>
      <div local-class="aside-item aside-item--disabled">{{svg-jar "Gear" height="32" width="32"}}</div>
    </div>

    <div local-class="aside-item"></div>
  </aside>

  <main local-class="main">
    {{outlet}}
  </main>
</div>
