<div local-class="container">
  <aside local-class="aside">
    <div local-class="aside-section">
      <div local-class="aside-item">
        {{#link-to (if model.team.isInTeam 'team' 'index')}}
          {{svg-jar 'Home' height='32' width='32'}}
        {{/link-to}}
      </div>
    </div>

  {{#if model.team.isInTeam}}
    <div local-class="aside-section">
      {{#link-to 'team.canvas.show' local-class='aside-item' activeClass=(local-class 'aside-item--active')}}
        {{svg-jar 'AlignLeft' height='32' width='32'}}
      {{/link-to}}

      {{#link-to 'team.canvas.pulse' local-class='aside-item' activeClass=(local-class 'aside-item--active')}}
        {{svg-jar 'Activity' height='32' width='32'}}
      {{/link-to}}

      {{#link-to 'team.canvas.settings' local-class='aside-item' activeClass=(local-class 'aside-item--active')}}
        {{svg-jar "Gear" height="32" width="32"}}
      {{/link-to}}
    </div>
  {{/if}}

    <div local-class="aside-item">
      {{#intercom-launcher}}
        {{svg-jar "Help" height="32" width="32"}}
      {{/intercom-launcher}}
    </div>
  </aside>

  <main local-class="main">
    {{outlet}}
  </main>
</div>
