<div>
  <span local-class="byline-toggle" onclick={{action (toggle 'showInsertedAt' this)}}>
    {{#if showInsertedAt}}
      <span>Created <strong>{{moment-from-now canvas.insertedAt}}</strong>
      by <strong>{{canvas.creator.name}}</strong></span>
    {{else}}
      <span>Last edited <strong>{{moment-from-now canvas.editedAt}}</strong></span>
    {{/if}}
  </span>
</div>

<div class="channel-list">
  {{canvas-channel-list
    channelIds=canvas.slackChannelIds
    channels=canvas.team.channels
    static=static
    updateCanvasChannels=updateCanvasChannels}}
</div>
