{{drop-zone
  message="Drop to upload to Canvas!"
  draggingOver=(mut draggingOver)
  showDropzone=showDropzone}}

<div local-class="aside">
  {{team-list teams=teamsList.teams}}
</div>

<div local-class="main">
  <div local-class="nav">
    {{team-nav
      team=team
      didCreateCanvas=(action 'didCreateCanvas')}}
  </div>

  <div local-class="content">
    <div local-class="canvas-list-filter">
      {{canvas-list-filter
        channels=team.channels}}
    </div>

    <div local-class="canvas-list">
      {{canvas-list
        team=team
        canvases=team.canvases}}
    </div>
  </div>
</div>
