{{#if isEditingChannels}}
  <div local-class="channel-editor">
    <div local-class="channel-editor-select">
      {{#power-select-multiple
        options=channels
        placeholder='Add channels...'
        searchField='name'
        selected=selectedChannels
        onchange=(action (mut selectedChannels))
        as |channel|}}
        {{channel.name}}
      {{/power-select-multiple}}
    </div>

    <button local-class="done-button" onclick={{action 'persistChannels'}}>Done</button>
  </div>
{{else}}
  <div local-class="channel-summary">
    {{svg-jar 'slack-mark' height='16' width='16' local-class='icon'}}

    {{#if canvasChannels}}
      <div local-class="channel-summary-list">
          {{#each canvasChannels as |channel|}}
            {{link-to channel.name 'team' (query-params channel=channel.name)
              local-class='channel-summary-list-item'}}
          {{/each}}
      </div>
    {{/if}}

    <button local-class="edit-button edit-button--placeholder {{if canvasChannels 'edit-button--hidden'}}" onclick={{action (toggle 'isEditingChannels' this)}}>
      {{#unless static}}
        {{#if canvasChannels}}
          Edit
        {{else}}
          <span local-class="button-label--muted">Add Channels</span>
        {{/if}}
      {{/unless}}
    </button>
  </div>
{{/if}}
