<div local-class="trigger">
  {{#if (hasBlock 'inverse')}}
    <button local-class="yield-button" onclick={{action 'toggleDropdown'}}>
      {{yield to='inverse'}}
    </button>
  {{else}}
    <button onclick={{action 'toggleDropdown'}}>{{label}}</button>
  {{/if}}
</div>

{{#if isOpen}}
  <div local-class="main">
    <div local-class="main-content">
      {{yield}}
    </div>
  </div>
{{/if}}
