<div local-class="container">
  {{svg-jar iconName height=24 width=24 local-class='icon'}}

  <div local-class="main">
    <div class="summary" local-class="summary" data-test-summary>
      {{#if pulse.attachment.authorName}}
        {{#if pulse.attachment.authorUrl}}
          <a href="{{pulse.actor.link}}">{{pulse.attachment.authorName}}</a>
        {{else}}
          <strong>{{pulse.attachment.authorName}}</strong>
        {{/if}}
      {{/if}}

      {{actionString}}{{#unless hideProvider}} on <a href="{{pulse.attachment.providerUrl}}">{{pulse.attachment.providerName}}</a>{{/unless}}.
    </div>

    {{#if (and pulse.attachment (not hideAttachment))}}
      {{canvas-pulse-attachment unfurled=pulse.attachment}}
    {{/if}}
  </div>
</div>
