<h3>Public Access</h3>

<div local-class="public-access">
  {{ui-checkbox
    checked=allowPublicAccess
    local-class="checkbox"
    onToggle=(action 'togglePublicAccess')}}

  <span class={{unless allowPublicAccess styles.muted}}>
    Anyone with the link to this canvas can
  </span>

  <select local-class="select" onchange={{action (mut permission) value="target.value"}} disabled={{unless allowPublicAccess 'disabled'}}>
    {{#each permissions key='@item' as |permissionChoice|}}
      <option value={{permissionChoice}} selected={{eq permission permissionChoice}}>
        {{permissionChoice}}
      </option>
    {{/each}}
  </select>
</div>
