<div local-class="root">
  <div local-class="actions">
    {{#if subscription}}
      <span local-class="action delete" {{action (perform toggleSubscription subscription)}}>
        {{if subscription.subscribed 'Unsubscribe' 'Subscribe'}}
      </span>
    {{else}}
      <span local-class="action delete" {{action (perform setSubscription subscribeProps.defaultSubscribeState)}}>
        {{if subscribeProps.defaultSubscribeState 'Subscribe' 'Unsubscribe'}}
      </span>
    {{/if}}
  </div>

  {{#each (sort-by 'insertedAt' blockComments) as |comment|}}
    <div local-class="item">
      {{comment-thread/item
        comment=comment
        currentUser=currentUser
        editComment=(perform editComment comment)
        removeComment=(perform removeComment comment)}}
    </div>
  {{/each}}

  <div local-class="item">
    {{comment-thread/form
      placeholder='Leave a reply...'
      submitComment=(perform createComment)}}
  </div>
</div>
