{{drop-zone
  message="Drop to upload to Canvas!"
  draggingOver=(mut draggingOver)
  showDropzone=showDropzone}}

{{#team-list-wrapper teams=teamsList.teams}}
  <div local-class="nav">
    {{team-nav
      channel=channel
      team=team
      didCreateCanvas=(action 'didCreateCanvas')}}
  </div>

  <div local-class="content">
    <div local-class="sidebar">
      <div local-class="sidebar-scroll">
        {{#if team.slackId}}
          {{canvas-list-filter
            channel=channel
            channels=team.channels}}
        {{else}}
          <p>
            Finish the team setup to:
          </p>

          <ul>
            <li>Organize Canvases into Slack channels</li>
            <li>Set up Slack notifications</li>
            <li>Create Canvases from within Slack</li>
          </ul>

          <p>
            {{add-to-slack}}
          </p>

          <p>
            <small>I'll <a href="#">do this later</a>.</small>
          </p>
        {{/if}}
      </div>
    </div>

    <div local-class="canvas-list">
      <div local-class="canvas-list-scroll">
        {{#if channelModel.topicCanvas.isFulfilled}}
          {{channel-topic-canvas canvas=channelModel.topicCanvas.content}}
        {{/if}}

        {{canvas-list
          canvases=filteredCanvases
          channel=channel
          team=team
          didCreateCanvas=(action 'didCreateCanvas')}}
      </div>
    </div>
  </div>
{{/team-list-wrapper}}
