{{drop-zone
  message="Drop to upload to Canvas!"
  draggingOver=(mut draggingOver)
  showDropzone=showDropzone}}

<div local-class="aside">
  <div local-class="aside-section">
    {{team-list teams=teamsList.teams}}
  </div>

  <div local-class="aside-section"></div>

  <div local-class="aside-section">
    {{#intercom-launcher local-class='aside-item'}}
      {{svg-jar "Help" height="32" width="32"}}
    {{/intercom-launcher}}
  </div>
</div>

<div local-class="main">
  <div local-class="nav">
    {{team-nav
      channel=channel
      team=team
      didCreateCanvas=(action 'didCreateCanvas')}}
  </div>

  <div local-class="content">
    {{#if team.slackId}}
      <div local-class="canvas-list-filter">
        <div local-class="canvas-list-filter-scroll">
          {{canvas-list-filter
            channel=channel
            channels=team.channels}}
        </div>
      </div>
    {{/if}}

    <div local-class="canvas-list">
      <div local-class="canvas-list-scroll">
        {{#if channelModel.topicCanvas.isFulfilled}}
          {{channel-topic-canvas canvas=channelModel.topicCanvas.content}}
        {{/if}}

        {{canvas-list
          canvases=filteredCanvases
          channel=channel
          team=team
          didCreateCanvas=(action 'didCreateCanvas')}}
      </div>
    </div>
  </div>
</div>
