{{drop-zone
  message="Drop to upload to Canvas!"
  draggingOver=(mut draggingOver)
  showDropzone=showDropzone}}

{{#team-list-wrapper teams=teamsList.teams}}
  <div local-class="nav">
    {{team-nav
      channel=channel
      team=team
      didCreateCanvas=(action 'didCreateCanvas')}}
  </div>

  <div local-class="content">
    {{#if (and team.slackId (not team.needsSlackToken))}}
      <div local-class="sidebar">
        <div local-class="sidebar-scroll">
          {{canvas-list-filter
            channel=channel
            channels=team.channels}}
        </div>
      </div>
    {{else if (and team.slackId (not (is-dismissed team.id 'channel-list-add-to-slack')))}}
      <div local-class="sidebar">
        <div local-class="sidebar-scroll">
          {{channel-list-add-to-slack
            dismiss=(action 'dismiss'
            (join '.' (w '*' team.id 'channel-list-add-to-slack')))}}
        </div>
      </div>
    {{/if}}

    <div local-class="canvas-list">
      <div local-class="canvas-list-scroll">
        {{#if (and (not team.needsSlackToken) channelModel.topicCanvas.isFulfilled)}}
          {{channel-topic-canvas canvas=channelModel.topicCanvas.content}}
        {{/if}}
        {{canvas-list
          canvases=(if channel filteredCanvases team.canvases)
          channel=channel
          team=team
          didCreateCanvas=(action 'didCreateCanvas')}}
      </div>
    </div>
  </div>
{{/team-list-wrapper}}