{{#if isTemplate}}
  <button {{action "onUseTemplate"}} local-class="template-badge">Use Template</button>
{{/if}}

<div local-class="actions">
  {{#basic-dropdown horizontalPosition='right' as |dropdown|}}
    {{#dropdown.trigger}}
      <div local-class="trigger">
        {{svg-jar "More" height="24" width="24"}}
      </div>
    {{/dropdown.trigger}}

    {{#dropdown.content}}
      <div local-class="menu">
        <div local-class="menu-content">
          <div onclick={{action (queue (action dropdown.actions.close) (action toggleShowFilter))}} local-class="menu-item">Filter</div>
          <a href={{concat canvas.apiURL '.canvas'}} download="{{canvas.title}}.canvas" local-class="menu-item">Export as Canvas</a>
          <a href={{concat canvas.apiURL '.md'}} download="{{canvas.title}}.md" local-class="menu-item">Export as Markdown</a>
          {{#if showDeleteCanvas}}<div onclick={{action 'deleteCanvas'}} local-class="menu-item">Delete</div>{{/if}}
        </div>
      </div>
    {{/dropdown.content}}
  {{/basic-dropdown}}
</div>
