<p>
  Your team's canvases are available for export in the form of a series of
  <strong>Markdown files</strong> (one per canvas).
</p>

<div>
  {{#unless exportCanvases.lastSuccessful}}
    <button local-class="export-button {{if exportCanvases.isRunning 'disabled'}}" onclick={{perform exportCanvases}}>
      {{#if exportCanvases.isRunning}}
        Exporting...
      {{else}}
        Start Export
      {{/if}}
    </button>
  {{/unless}}

  {{#if exportFailed}}
    <span local-class="error">
      Export failed.
    </span>
  {{else if exportCanvases.isRunning}}
    <span local-class="confirmation">
      <strong>Export started!</strong> Once finished, a download will automatically start.
    </span>
  {{else if exportCanvases.lastSuccessful}}
    <span local-class="confirmation">
      <strong>Export succeeded!</strong>
    </span>
  {{/if}}
</div>
