{{drop-zone
  message="Drop to fill canvas from template!"
  draggingOver=(mut draggingOver)
  showDropzone=showDropzone}}

<div local-class="aside">
  <div local-class="aside-section">
    <div local-class="aside-item">
      {{#link-to 'team'}}
        {{svg-jar "ArrowLeft" height="32" width="32"}}
      {{/link-to}}
    </div>
  </div>

  <div local-class="aside-section">
    <div local-class="aside-item aside-item--active">{{svg-jar "AlignLeft" height="32" width="32"}}</div>
    <div local-class="aside-item aside-item--disabled">{{svg-jar "Activity" height="32" width="32"}}</div>
    <div local-class="aside-item aside-item--disabled">{{svg-jar "Gear" height="32" width="32"}}</div>
  </div>

  <div local-class="aside-item"></div>
</div>

<div local-class="main">
  {{#if canvas.isTemplate}}
    <div local-class="message">
      <div local-class="message-content">
        You’re editing a template. To create a new canvas click <strong>Use
        Template</strong>.
      </div>
    </div>
  {{/if}}

  <div local-class="editor">
    {{canvas-editor-next
      editingEnabled=connected
      fetchTemplates=(action 'fetchTemplates')
      onBlockContentUpdatedLocally=(action 'blockContentUpdatedLocally')
      onBlockReplacedLocally=(action 'blockReplacedLocally')
      onNewBlockInsertedLocally=(action 'newBlockInsertedLocally')
      onBlockDeletedLocally=(action 'blockDeletedLocally')
      onBlockMetaReplacedLocally=(action 'blockMetaReplacedLocally')
      unfurlBlock=(action 'unfurlBlock')
      canvas=canvas
      titleActionsComponent=(component 'canvas-title-actions'
                             canvas=canvas
                             onUseTemplate=(route-action 'createFromTemplate')
                             onDeleteCanvas=onDeleteCanvas
                             isTemplate=canvas.isTemplate)}}
  </div>
</div>
